<!-- <div class="form-container">
  <form [formGroup]="form" class="form" (ngSubmit)="handleSubmit()">
    <div class="headline">Register</div>

    <input
      id="name"
      type="text"
      class="input-text"
      placeholder="User Name"
      formControlName="name"
    />

    <div
      *ngIf="!form.get('name')?.valid && form.get('name')?.touched"
      class="invalid-message"
    >
      you must enter a User Name!!
    </div>

    <input
      id="email"
      type="text"
      class="input-text"
      placeholder="Email"
      formControlName="email"
    />

    <div
      *ngIf="!form.get('email')?.valid && form.get('email')?.touched"
      class="invalid-message"
    >
      you must enter a Email!!
    </div>

    <input
      id="password"
      type="text"
      class="input-text"
      placeholder="Password"
      formControlName="password"
    />

    <div
      *ngIf="!form.get('password')?.valid && form.get('password')?.touched"
      class="invalid-message"
    >
      you must enter a Password!!
    </div>

    <div>
      <input type="checkbox" formControlName="checkbox" /><span
        >I agree to all <a routerlink="">the terms</a></span
      >
    </div>

    <div
      *ngIf="submitted && f.acceptTerms.errors"
      class="invalid-message"
    >
      Accept Terms is required!!
    </div>

    <button type="submit" class="button-submit" [disabled]="form.invalid">
      Submit
    </button>
    <div>
      <a routerLink="/login">Already registered? click here</a>
    </div>
  </form>
</div>

[disabled]="loginForm.invalid"
(click)="onSubmit()" -->
